<div class="user-details">
  <h1> Featured Projects </h1>
</div>

{% assign sorted_posts = site.posts | sort:"title" %}
{% for post in sorted_posts %}
{% assign remainder = forloop.index0 | modulo: 2 %}
<div class="user-projects">
  {% if remainder == 0 %}
    <div class="images-right">
  {% else %}
    <div class="images-left">
  {% endif %}
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  {% if remainder == 0 %}
  <div class="contents">
  {% else %}
  <div class="contents-right">
  {% endif %}      
    <h3> {{post.title}} </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etn ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endfor %}